.chats::-webkit-scrollbar{
    display:none
}

.cycle{
    mix-blend-mode: darken;
    z-index: 10;
    left: -100px;
    animation: moveLeftToRight 15s linear infinite;
}

@keyframes moveLeftToRight {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translatex(1500px);
    }
}
.abc {
    transform: rotate(180deg);
  }

.messagebox::-webkit-scrollbar{
  display: none;
}

/* .usermessage{padding:10;
  backgroundColor:'grey'; borderRadius:10px;maxWidth:"60%"} */
  .usermessage {
    padding: 10px;
    max-width: 60%;
    border-radius: 20px 20px 0px 20px;
    background-color: rgb(151, 221, 151);
  }
  .sendermessage{
    padding: 10px;
    max-width: 60%;
    border-radius: 20px 20px 20px 0px;
    background-color: rgb(170, 151, 221);
  }